<h1>mysql express test</h1>

<style>
    td, th {
        padding: 2px;
    }

    table, th, td, tr {
        border: 1px solid black;
    }
</style>

<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>year</th>
        <th>genre</th>
    </tr>
        {{#each tuple}}
            <tr>
                <td> {{this.id }} </td>
                <td> {{this.title }} </td>
                <td> {{this.year }} </td>
                <td> {{this.genre}} </td>
            </tr>
        {{/each}}
    
</table>